<?xml version="1.0"?>
<configuration>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

  <appSettings>
    <add key="webpages:Version" value="1.1.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="LdapServer" value="kkbad1.kiatnakinbank.com"/>
    <add key="LdapComponent" value="OU=Bank,DC=kiatnakinbank,DC=com"/>
    <add key="OPICS_OWNER" value="OPICINF"/>
    <add key="CashFlowSpan" value="3"/>
    <add key="CheckADUser" value="0"/>
    <!--First for test environment, Second for production-->
    <!--<add key="SystemKey" value="6%2B%20%2BJ%2B%20%2B8%2B%20%2Br%2B%20%2Bp%2B%20%2Ba%2B%20%2Bs%2B%20%2Bs%2B%20%2Bw%2B%20%2Bo%2B%20%2Br%2B%20%2Bd%2B%20%2BZ%2B%20%2By%2B%20%2Bc%2B%20%2BR"/>-->
    <add key="SystemKey" value="3%2B%20%2BE%2B%20%2Bn%2B%20%2Bj%2B%20%2Bk%2B%20%2Bk%2B%20%2Bd%2B%20%2Bm%2B%20%2Bk%2B%20%2Ba%2B%20%2Bd%2B%20%2Bm%2B%20%2Bi%2B%20%2Bn%2B%20%2BW%2B%20%2Bj%2B%20%2Bt%2B%20%2Bh"/>
    <add key="ConnectionString" value="KKLMDB"/>
    <add key="SystemID" value="A0B03FB8-D529-4BAA-B04A-BED3F81C8AE0"/>
  </appSettings>
  
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
    <add name="KKLMDBEntities" connectionString="metadata=res://*/KKLMDBMD.csdl|res://*/KKLMDBMD.ssdl|res://*/KKLMDBMD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MAJOE-NB\SQL2008R2;initial catalog=KKLMDB;persist security info=True;user id=dmkuser;password=kkdmkuser;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OracleConnectionString" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.202.104.123)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=TRODB)));User Id=dmkr;Password=kktrodbdmkr;"/>
  </connectionStrings>
  
</configuration>
