<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="KKLMDBEntities" connectionString="metadata=res://*/KKLMDBMD.csdl|res://*/KKLMDBMD.ssdl|res://*/KKLMDBMD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MAJOE-NB\SQL2008R2;initial catalog=KKLMDB;persist security info=True;user id=tro;password=kktro;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>